.home-container {

  h2 {
    color: white;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
  }
}

.home-image {
  background: url('../resources/pokedex.png') no-repeat;
  background-size: 100% auto;
  width: 350px;
  height: 140px;
  margin: 40px auto;
}

.pokemon-search {
  text-align: center;
  margin-bottom: 30px;

  .section {
    display: inline-block;
    margin-right: 40px;

    input {
      margin: 0 5px;
      padding: 5px;
      width: 220px;
    }
  }
}

