.pokemons-page {
  .prev {

  }

  .next {
    margin-left: 100px;
  }

  .buttons {

  }
}

.pokemons-list-container {
  margin-top: 20px;
  height: 730px;
  padding: 5px;
  position: relative;
}

.pokemons-list-group {
  display: inline-block;
  width: 20%;
}

.pokemon-details-container {
  display: inline-block;
  width: 79%;
  position: absolute;
  margin-left: 5px;
  top: 5px;
  bottom: 5px;

  &.wide {
    width: 100%;
  }
}

.pokemons-list-item-name {
  font-size: 20px;
}
