@import url('https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css');
@import 'home-page';

body {
  background: url('../resources/poke-background-60.png') no-repeat;
  background-size: 100% auto;
}

.header {
  background-color: rgba(0,0,0,0.8);
  border: none;
  border-radius: 0px;
}

.loadingDots {
  font-weight: bold;
  font-size: 35px;
  color: white;
  margin-left: 30px;
  margin-top: -10px;
}

.pokemons-list-container {
  padding: 5px;
  position: relative;
}

.pokemons-list-group {
  display: inline-block;
  width: 20%;
}

.pokemon-details-container {
  display: inline-block;
  width: 79%;
  position: absolute;
  margin-left: 5px;
  top: 5px;
  bottom: 5px;
}

.pokemons-list-item-name {
  font-size: 20px;
}

.active {
  background: blue;
}

.navbar-nav {
  float: right;
}

.caught-pokemons {
  color: white;
  position: relative;

  .pokemons {
    position: absolute;
    text-align: center;
    background: #322f99;
    border-radius: 20px;
    padding: 8px 14px;
    top: -9px;
    left: -10px;
  }
}


