@import url('https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css');

.header {
  background-color: rgba(0,0,0,0.5);
  border: none;
  border-radius: 0px;
}

.app {
  background: url('../resources/main.jpg') no-repeat;
  background-size: 100% auto;
}
